<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css" nonce="c21XZx62CjJBDu_fwWN6kw">
        body, td, div, p, a, input {
            font-family: arial, sans-serif;
        }
    </style>
    <title>work with us</title>
    <style type="text/css" nonce="c21XZx62CjJBDu_fwWN6kw">
        body, td {
            font-size: 13px
        }

        a:link, a:active {
            color: #1155CC;
            text-decoration: none
        }

        a:hover {
            text-decoration: underline;
            cursor: pointer
        }

        a:visited {
            color: #6611CC
        }

        img {
            border: 0px
        }

        pre {
            white-space: pre;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            white-space: pre-wrap;
            word-wrap: break-word;
            max-width: 800px;
            overflow: auto;
        }

        .logo {
            left: -7px;
            position: relative;
        }
    </style>
</head>
<body>
<div>
    <div style="color: black">
        <h3>Dear applicant,</h3>
        <p>
            Thank you for your interest in joining Landa International Holding!
            Your application is under review and our experts will contact you soon.
        </p>
        <p>If you require additional information, please do not hesitate to ask us.</p>
    </div>
    <div>
        <table width=100% cellpadding=0 cellspacing=0 border=0 class="message">
            <td colspan=2>
                <table width=100% cellpadding=12 cellspacing=0 border=0>
                    <tr>
                        <td>
                            <div style="overflow: hidden;">
                                <font size=-1>
                                    <div>
                                        <br clear="all">
                                        <br clear="all">
                                        <div>
                                            <div dir="ltr" class="gmail_signature" data-smartmail="gmail_signature">
                                                <div dir="ltr">
                                                    <br>
                                                    <div>
                                                        <table cellspacing="0" cellpadding="0" width="100%"
                                                               style="font-family:arial,helvetica,sans-serif;font-size:14px;color:rgb(0,0,0)">
                                                            <tbody style="font-family:arial,helvetica,sans-serif">
                                                            <tr style="font-family:arial,helvetica,sans-serif">
                                                                <td style="font-size:0px;height:0px;line-height:0;font-family:arial,helvetica,sans-serif">
                                                                    website<a href="http://landaholding.com/"
                                                                              style="font-family:arial,helvetica,sans-serif"
                                                                              target="_blank"
                                                                              data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://landaholding.com/&amp;source=gmail&amp;ust=1710492160291000&amp;usg=AOvVaw12sWt_ZJdwT-SrdaF5gokH">facebook</a>
                                                                </td>
                                                            </tr>
                                                            <tr style="font-family:arial,helvetica,sans-serif">
                                                                <td valign="top"
                                                                    style="font-family:arial,helvetica,sans-serif">
                                                                    <table cellspacing="0" cellpadding="0"
                                                                           width="600" align="center" border="0"
                                                                           style="width:600px;margin:0px auto;font-family:arial,helvetica,sans-serif">
                                                                        <tbody style="font-family:arial,helvetica,sans-serif">
                                                                        <tr style="font-family:arial,helvetica,sans-serif">
                                                                            <th style="border-width:medium;border-style:none;width:600px;font-weight:normal;padding:0px;text-align:left;font-family:arial,helvetica,sans-serif;background-color:rgb(254,255,255);border-color:initial">
                                                                                <table cellspacing="0"
                                                                                       cellpadding="0" align="left"
                                                                                       style="width:600px;font-family:arial,helvetica,sans-serif">
                                                                                    <tbody style="font-family:arial,helvetica,sans-serif">
                                                                                    <tr height="237"
                                                                                        style="height:237px;font-family:arial,helvetica,sans-serif">
                                                                                        <th style="border-width:medium;border-style:none;width:84px;vertical-align:top;font-weight:normal;padding:20px 15px;text-align:left;font-family:arial,helvetica,sans-serif;background-color:transparent;border-color:initial">
                                                                                            <table cellspacing="0"
                                                                                                   cellpadding="0"
                                                                                                   align="center"
                                                                                                   border="0"
                                                                                                   style="margin:0px auto;font-family:arial,helvetica,sans-serif">
                                                                                                <tbody style="font-family:arial,helvetica,sans-serif">
                                                                                                <tr style="font-family:arial,helvetica,sans-serif">
                                                                                                    <td align="center"
                                                                                                        style="padding:2px;font-family:arial,helvetica,sans-serif">
                                                                                                        <table cellspacing="0"
                                                                                                               cellpadding="0"
                                                                                                               border="0"
                                                                                                               style="font-family:arial,helvetica,sans-serif">
                                                                                                            <tbody style="font-family:arial,helvetica,sans-serif">
                                                                                                            <tr style="font-family:arial,helvetica,sans-serif">
                                                                                                                <td style="border-width:medium;border-style:none;font-family:arial,helvetica,sans-serif;border-color:initial">
                                                                                                                    <img src="https://ci3.googleusercontent.com/mail-sig/AIorK4zA3ADdTHRFqajurkBUe7wTZ-R1p41f96qHnnKNgzPI80DYEEX9vC_mRrSHT97TJZpQ4p7535E"
                                                                                                                         width="55"
                                                                                                                         height="96"
                                                                                                                         style="font-family:arial,helvetica,sans-serif">
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </th>
                                                                                        <th style="border-width:medium;border-style:none;width:232px;vertical-align:top;font-weight:normal;padding:20px 15px;text-align:left;font-family:arial,helvetica,sans-serif;background-color:transparent;border-color:initial">
                                                                                            <p align="left"
                                                                                               style="margin:0px 0px 1em;padding:0px;font-size:18px;line-height:28px;font-family:arial,helvetica,sans-serif;background-color:transparent;color:rgb(168,167,167)">
                                                                                                <strong style="font-family:arial,helvetica,sans-serif">
                                                                                                    Landa
                                                                                                    Holding<br>
                                                                                                </strong>
                                                                                                <span style="font-size:16px;line-height:25px;font-family:arial,helvetica,sans-serif">
                                                                                                    <br>
                                                                                                    <strong style="font-family:arial,helvetica,sans-serif">Tel</strong>
                                                                                                    : +1 (289) 269 3933 <br>

                                                                                                    <strong style="font-family:arial,helvetica,sans-serif">Email</strong>
                                                                                                    : <a
                                                                                                        href="mailto:info@landaholding.com"
                                                                                                        style="font-family:arial,helvetica,sans-serif"
                                                                                                        target="_blank">info@landaholding.com</a>
                                                                                                </span>
                                                                                            </p>
                                                                                            <div style="padding:0px 10px 10px 0px;font-family:arial,helvetica,sans-serif">
                                                                                                <a href="https://www.linkedin.com/company/landa-startup-inc/"
                                                                                                   style="font-family:arial,helvetica,sans-serif"
                                                                                                   target="_blank"
                                                                                                   data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.linkedin.com/company/landa-startup-inc/&amp;source=gmail&amp;ust=1710492160291000&amp;usg=AOvVaw1Erb9ufwd2i0UVFapXiMcm">
                                                                                                    <img src="https://ci3.googleusercontent.com/mail-sig/AIorK4zBBEzmVml3X1nknYAeBYoczKSEfDK7iXmeddgxtwUvZNhb4_YnuBhKuvF8qT4ZP0Xzyu12OXs"
                                                                                                         alt=" linkedin"
                                                                                                         style="font-family:arial,helvetica,sans-serif">
                                                                                                </a>
                                                                                                <a href="http://landaholding.com/"
                                                                                                   style="font-family:arial,helvetica,sans-serif"
                                                                                                   target="_blank"
                                                                                                   data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://landaholding.com/&amp;source=gmail&amp;ust=1710492160291000&amp;usg=AOvVaw12sWt_ZJdwT-SrdaF5gokH">
                                                                                                    <img src="https://ci3.googleusercontent.com/mail-sig/AIorK4wcfTpn-SqfZzMExA9kr5iYHqBOaYzUG2u_JZkG2hxzknwZrOcD4utt1ynLwwUK0Qevaryhe1c"
                                                                                                         alt=" website"
                                                                                                         style="font-family:arial,helvetica,sans-serif">
                                                                                                </a>
                                                                                                <a href="https://instagram.com/landa_holding?igshid=OGIzYTJhMTRmYQ=="
                                                                                                   style="font-family:arial,helvetica,sans-serif"
                                                                                                   target="_blank"
                                                                                                   data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://instagram.com/landa_holding?igshid%3DOGIzYTJhMTRmYQ%3D%3D&amp;source=gmail&amp;ust=1710492160291000&amp;usg=AOvVaw12X7juNzyeZcJBpGK-yEYS">
                                                                                                    <img src="https://ci3.googleusercontent.com/mail-sig/AIorK4xaTO4z6bKEt-bjsSHYTAYtl0Lg5knVoWnKT4ih2kRr3zFUAUuRRJ9OdHszuWNwMqC4bsvKN8I"
                                                                                                         alt=" instagram"
                                                                                                         style="font-family:arial,helvetica,sans-serif">
                                                                                                </a>
                                                                                                <a href="https://www.facebook.com/landaholding1"
                                                                                                   style="font-family:arial,helvetica,sans-serif"
                                                                                                   target="_blank"
                                                                                                   data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.facebook.com/landaholding1&amp;source=gmail&amp;ust=1710492160291000&amp;usg=AOvVaw1eH6Q2tFnlcPywB0SUJ9Fj">
                                                                                                    <img src="https://ci3.googleusercontent.com/mail-sig/AIorK4yVAUIce5aG2lwnjpm5Xhup3II6OgfOpCoXUp6FPxgbn-yTkwUFNTZ5hx1FgqC2JxaAHNv8QN8"
                                                                                                         alt=" facebook"
                                                                                                         style="font-family:arial,helvetica,sans-serif">
                                                                                                </a>
                                                                                                <br>
                                                                                            </div>
                                                                                            <p align="left"
                                                                                               style="margin:0px 0px 1em;padding:0px;line-height:22px;font-family:arial,helvetica,sans-serif;background-color:transparent;color:rgb(87,87,87)"></p>
                                                                                        </th>
                                                                                        <th style="border-width:medium;border-style:none;width:194px;vertical-align:top;padding:20px 15px;text-align:left;font-family:arial,helvetica,sans-serif;background-color:transparent;border-color:initial">
                                                                                            <p align="justify"
                                                                                               style="margin:0px 0px 1em;padding:0px;font-size:10px;text-align:justify;line-height:12px;font-family:arial,helvetica,sans-serif;background-color:transparent;color:rgb(124,124,124)">
                                                                                                <strong style="font-family:arial,helvetica,sans-serif">
                                                                                                    <span style="font-size:12px;line-height:15px;font-family:arial,helvetica,sans-serif">
                                                                                                        Canada:
                                                                                                    </span>
                                                                                                </strong>
                                                                                                <br>
                                                                                                <span style="font-weight:normal;font-family:arial,helvetica,sans-serif">
                                                                                                    No. 200, 7646 Yonge Street, Thornhill, Toronto, ON L4J 1V9, Canada
                                                                                                </span>
                                                                                                <br>
                                                                                                <span style="font-weight:normal;font-family:arial,helvetica,sans-serif">
                                                                                                    Tel: (+1) 289 269-3933
                                                                                                </span>
                                                                                            </p>
                                                                                            <p align="left"
                                                                                               style="font-weight:normal;margin:0px 0px 1em;padding:0px;font-size:12px;line-height:15px;font-family:arial,helvetica,sans-serif;background-color:transparent;color:rgb(124,124,124)">
                                                                                                <strong style="font-family:arial,helvetica,sans-serif">
                                                                                                    Iran:<br>
                                                                                                </strong>
                                                                                                    Office 41, No. 27, Gholam Jafari Street, Tajrish Square, Tehran, Iran
                                                                                                <br>
                                                                                                 <span style="font-weight:normal;font-family:arial,helvetica,sans-serif">Tel: (+98) 912 0539563</span>
                                                                                            </p>
                                                                                            <p align="left"
                                                                                               style="font-weight:normal;margin:0px 0px 1em;padding:0px;font-size:12px;line-height:15px;font-family:arial,helvetica,sans-serif;background-color:transparent;color:rgb(124,124,124)">
                                                                                                <span style="font-family:arial,helvetica,sans-serif;background-color:transparent">
                                                                                                    5th Floor, Tala Complex, Sa'adat Abad Street, Isfahan, Iran
                                                                                                </span>
                                                                                                <br>
                                                                                                <span style="font-weight:normal;font-family:arial,helvetica,sans-serif">Tel: (+98) 313 1311914</span>
                                                                                            </p>
                                                                                        </th>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </th>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr style="font-family:arial,helvetica,sans-serif">
                                                                <td style="font-size:0px;height:8px;line-height:0;font-family:arial,helvetica,sans-serif"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <br clear="all">
                                            <br clear="all">
                                            <div></div>
                                        </div>
                                    </div>
                                </font>
                            </div>
                </table>
        </table>
    </div>
</div>
</body>
</html>